<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- 用于渲染导航 -->
  <header class="header-content">
    {% include navigation.html %}
  </header>
  <!-- content用于渲染调用layout的页面的内容 -->
  <main class="blog-content">
    {{content}}
  </main>
  <script src="/assets/js/blog.js"></script>
</body>
</html>
